<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Hey this is my first MVC Page. And I am Sane.....</h1>
        <section>
            ViewBag - name - @ViewBag.name
            <br />
            ViewBag - city - @ViewBag.city
            <br />
            From View Data - price - @ViewData["amount"]
        </section>
    </div>
</body>
</html>
