@model FirstWepApplication.Models.Movie

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ModelInView</title>
</head>
<body>
    <div> 
        Movie name : @Model.Name
        <br/>
        Movie Duration : @Model.Duration

    </div>
</body>
</html>
