<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowModel</title>
</head>
<body>
    <div> 
        <h1>@ViewBag.myMovie.Name</h1>
    </div>
</body>
</html>
